body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.graph {
  display: flex;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 600px;
  height: 400px;
  padding: 2px;
}

div.graph__horizontal {
  flex-direction: column;
  justify-content: space-evenly;
}

div.graph__bar {
  width: 0;
  background-color: antiquewhite;
  border: 1px solid azure;
  transition: width 2s ease-out;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}