span.text {
  cursor: pointer;
}

/* https://www.youtube.com/watch?v=xoRbkm8XgfQ&ab_channel=KevinPowell */

span.text[tooltip-text] {
  position: relative;
}

span.text[tooltip-text]::after {
  content: attr(tooltip-text);
  display: block;
  position: absolute;
  background-color: dimgrey;
  color: white;
  padding: 16px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: 
    transform ease-out 200ms,
    bottom ease-out 200ms;
}

span.text[tooltip-text]:hover::after {
  transform: scale(1);
  bottom: 100%;
}